/* font style link */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&display=swap');
/* using font family in the whole body..this is a common style */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f3f1ff;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  background-color: #ffffff;
  width: 870px;
  padding: 30px;
  margin-top: 21px;
  border-radius: 5px;
}
hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 30px;
  /* margin-top: 30px; */
}
/* styling top players */
.top-players {
  margin-bottom: 30px;
}
.section-title {
  color: #562eff;
  font-size: 24px;
  margin-top: 3px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 29px;
}
.player {
  display: flex;
  gap: 16px;
  /* margin-top: 59px; */
  align-items: center;
}

.player img {
  width: 56px;
  height: 56px;
  /* margin-top: 29px; */
}
.player-name {
  margin-left: 16px;
  font-size: 18px;
}
/* top blog styles */
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 13px;
  grid-column-gap: 70px;
}
.blog {
  display: flex;
}
.blog .thumbnail img {
  width: 177px;
  height: 117px;
}
.blog-info {
  margin-left: 16px;
}
.blog-title {
  font-size: 20px;
}
.blog-author {
  color: #9f9f9f;
  font-size: 16px;
}
.blog-author a {
  text-decoration: none;
  font-size: 16px;
  color: #562eff;
}
/* courses style */
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
}
.course .course-banner img {
  width: 224px;
  height: 104px;
}
.course-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* here we can see that there is no space between these two classes..this means this two classes are on the same element */
.fa-star {
  font-size: 12px;
}
.fa-star.filled {
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
}
.course-duration {
  width: 94px;
  height: 30px;
  background-color: #ffe4e8;
  border-radius: 14.6913px;
}
/* media queries */
/* for mobile devices */
@media only screen and (max-width: 688px) {
  .container {
    width: 100%;
  }
  .players,
  .blogs,
  .courses {
    grid-template-columns: repeat(1, 1fr);
  }
  .player,
  .blog {
    flex-direction: column;
  }
}
/* for tablet devices */
@media only screen and (min-width: 689px) and (max-width: 992px) {
  .container {
    width: 100%;
  }
  .players,
  .courses {
    grid-template-columns: repeat(2, 1fr);
  }
}
